{% extends 'base.html.twig' %}

{% block body %}

    <p>Ajouter des choses</p>
    {{ form_start(form) }}

    {{ form_row(form.name) }}


    {{ form_row(form.description) }}

    <button type="submit">Ok</button>

    {{ form_end(form) }}



{% endblock %}