{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Retour</a>
    {% for burger in burgers %}
        <br>
            {{ burger.name }}
    {% endfor %}
{% endblock %}
