{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Retour</a>
    {% for burger in burgers %}
        <br>
            <p>{{ burger.name }}</p>
            <a href="{{ path('one', {id: burger.id}) }}">Voir plus</a>
    {% endfor %}
{% endblock %}
