{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ burger.name }}</h2><br>
    <p>{{ burger.description }}</p>
    <a href="{{ path('burger') }}">Retour</a>
    <a href="{{ path('delete', {id: burger.id}) }}">supp</a>

{% endblock %}